<Table @ref="vnetTable" TItem="IPRange" DataSource="@_vnet.IPRanges" HidePagination="true">
    <Column Title="Network IP" Field="@context.StartIP">
        <Input @bind-Value="@startIp" OnBlur="StartIpBlur" />
    </Column>
    <Column Title="Address Space" Field="@context.AddressSpace" />
    <Column Title="Address Range" Field="@context.AddressRange" />
    <Column Title="Address Count" Field="@context.AddressCount" />
    <Column Title="Availlable Count" Field="@(GetAvailableCount())"></Column>
</Table>
@if (showError)
{
    <ValidationError ErrorMessage="@errorMessage" />
}

